[submodule "tests/lib/bats-support"]
	path = tests/lib/bats-support
	url = https://github.com/bats-core/bats-support
	branch = master
[submodule "tests/lib/bats-assert"]
	path = tests/lib/bats-assert
	url = https://github.com/bats-core/bats-assert
	branch = master
[submodule "tests/lib/bats-file"]
	path = tests/lib/bats-file
	url = https://github.com/bats-core/bats-file
	branch = master
